In [3]:
import os
PATH = 'C:/Users/user/DataPreprocessing/ModelingDataset/data'
os.chdir(PATH)

In [4]:
import pandas as pd
import csv
import numpy as np

In [36]:
# # txt파일 csv로 바꾸기 

# obsList = ['인천송도', '태안', '영흥도', '대산', '안산', '평택', '인천', '덕적도']
# for i in range(len(obsList)):
#     f_in=open(f'./기상txt/{obsList[i]}_11.txt','r')
#     f_out=open(f'./기상txt/{obsList[i]}_11.csv','w')
#     f_in=open(f'./기상txt/{obsList[i]}_12.txt','r')
#     f_out=open(f'./기상txt/{obsList[i]}_12.csv','w')

#     for line in f_in:
#         line_replace=line.replace("\t",",")
#         f_out.write(line_replace)
#     f_in.close()
#     f_out.close()

In [13]:
df1 = pd.read_csv('./기상)인천송도.csv', encoding = 'cp949')
df2 = pd.read_csv('./기상)태안.csv', encoding = 'cp949')
df3 = pd.read_csv('./기상)영흥도.csv', encoding = 'cp949')
df4 = pd.read_csv('./기상)대산.csv', encoding = 'cp949')
df5 = pd.read_csv('./기상)안산.csv', encoding = 'cp949')
df6 = pd.read_csv('./기상)평택.csv', encoding = 'cp949')
df7 = pd.read_csv('./기상)인천.csv', encoding = 'cp949')
df8 = pd.read_csv('./기상)덕적도.csv', encoding = 'cp949')

print("*** Merging multiple csv files into a single pandas dataframe ***")
df = pd.concat(
   [df1, df2, df3, df4, df5, df6, df7,df8], ignore_index=True)
# df.to_csv('./raw_weather.csv', encoding = 'cp949', sep = ",")

C:\Users\user\AppData\Local\Temp\ipykernel_20904\2293301447.py:2: DtypeWarning: Columns (4,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('./기상)태안.csv', encoding = 'cp949')
C:\Users\user\AppData\Local\Temp\ipykernel_20904\2293301447.py:3: DtypeWarning: Columns (4,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('./기상)영흥도.csv', encoding = 'cp949')
C:\Users\user\AppData\Local\Temp\ipykernel_20904\2293301447.py:4: DtypeWarning: Columns (5,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('./기상)대산.csv', encoding = 'cp949')
C:\Users\user\AppData\Local\Temp\ipykernel_20904\2293301447.py:5: DtypeWarning: Columns (4,5,6,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv('./기상)안산.csv', encoding = 'cp949')

*** Merging multiple csv files into a single pandas dataframe ***

### 1. 필요없는 컬럼 제거
- 수온
- 염분
- 유의파고
- 유의파주기
- 최대파고
- 최대파주기
- 시정

In [39]:
df = df.drop(df.iloc[:,5:11], axis=1)
df.drop(['시정(m)'], axis = 1, inplace = True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368639 entries, 0 to 368638
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   관측소명     368639 non-null  object
 1   관측시간     368639 non-null  object
 2   위도       368639 non-null  float64
 3   경도       368639 non-null  float64
 4   조위(cm)   368639 non-null  object
 5   풍속(m/s)  368639 non-null  object
 6   풍향       368639 non-null  object
 7   풍향(deg)  368639 non-null  object
 8   기온(℃)    368639 non-null  object
 9   기압(hPa)  368639 non-null  object
dtypes: float64(2), object(8)
memory usage: 28.1+ MB

### 2. 결측치 처리

In [41]:
# 컬럼 중 "-" 값 갯수 확인 
(df== '-').sum()

관측소명           0
관측시간           0
위도             0
경도             0
조위(cm)     51840
풍속(m/s)     6475
풍향          6466
풍향(deg)     6466
기온(℃)       6359
기압(hPa)     6351
dtype: int64

In [42]:
df = df.replace("-", None)
df = df.dropna(axis = 0).reset_index(drop=True)
(df== '-').sum()

관측소명       0
관측시간       0
위도         0
경도         0
조위(cm)     0
풍속(m/s)    0
풍향         0
풍향(deg)    0
기온(℃)      0
기압(hPa)    0
dtype: int64

In [43]:
df

,관측소명,관측시간,위도,경도,조위(cm),풍속(m/s),풍향,풍향(deg),기온(℃),기압(hPa)
0,인천송도,2022-11-30 0:01,37.338056,126.586111,497,10.6,북북서,332,0.2,1026.9
1,인천송도,2022-11-30 0:02,37.338056,126.586111,496,9.4,북북서,335,0.3,1026.7
2,인천송도,2022-11-30 0:03,37.338056,126.586111,495,9.8,북북서,336,0.1,1027
3,인천송도,2022-11-30 0:04,37.338056,126.586111,490,8.7,북북서,340,-0.1,1027
4,인천송도,2022-11-30 0:05,37.338056,126.586111,490,9.3,북북서,341,-0.1,1027
...,...,...,...,...,...,...,...,...,...,...
316643,덕적도,2022-12-31 23:55,37.226333,126.156556,583,0.6,북북서,327,1.4,1029.6
316644,덕적도,2022-12-31 23:56,37.226333,126.156556,583,0.7,북서,317,1.4,1029.6
316645,덕적도,2022-12-31 23:57,37.226333,126.156556,582,0.7,서,281,1.4,1029.6
316646,덕적도,2022-12-31 23:58,37.226333,126.156556,582,0.9,북서,306,1.6,1029.6
316647,덕적도,2022-12-31 23:59,37.226333,126.156556,581,1,북서,326,1.8,1029.6

array(['인천송도', '태안', '영흥도', '안산', '평택', '인천', '덕적도'], dtype=object)

In [45]:
#df 컬럼명 확인
df.columns

Index(['관측소명', '관측시간', '위도', '경도', '조위(cm)', '풍속(m/s)', '풍향', '풍향(deg)',
       '기온(℃)', '기압(hPa)'],
      dtype='object')

### 3. 컬럼명 변경
- 전처리에 편리하도록

In [46]:
# 전처리에 편리하게 바꾼다. 마지막에 다시 단위 포함시킨 컬럼명으로 변경예정
df.columns = ['관측소명', '관측시간', '위도', '경도','조위', '풍속', '풍향', '풍향_각도', '기온', '기압']

In [47]:
df

,관측소명,관측시간,위도,경도,조위,풍속,풍향,풍향_각도,기온,기압
0,인천송도,2022-11-30 0:01,37.338056,126.586111,497,10.6,북북서,332,0.2,1026.9
1,인천송도,2022-11-30 0:02,37.338056,126.586111,496,9.4,북북서,335,0.3,1026.7
2,인천송도,2022-11-30 0:03,37.338056,126.586111,495,9.8,북북서,336,0.1,1027
3,인천송도,2022-11-30 0:04,37.338056,126.586111,490,8.7,북북서,340,-0.1,1027
4,인천송도,2022-11-30 0:05,37.338056,126.586111,490,9.3,북북서,341,-0.1,1027
...,...,...,...,...,...,...,...,...,...,...
316643,덕적도,2022-12-31 23:55,37.226333,126.156556,583,0.6,북북서,327,1.4,1029.6
316644,덕적도,2022-12-31 23:56,37.226333,126.156556,583,0.7,북서,317,1.4,1029.6
316645,덕적도,2022-12-31 23:57,37.226333,126.156556,582,0.7,서,281,1.4,1029.6
316646,덕적도,2022-12-31 23:58,37.226333,126.156556,582,0.9,북서,306,1.6,1029.6
316647,덕적도,2022-12-31 23:59,37.226333,126.156556,581,1,북서,326,1.8,1029.6

### 4. 데이터타입 변경
- 관측시간
- 조위, 풍속, 풍향, 기온, 기압

In [48]:
# 관측시간 타입변경 string -> datetime 
df['관측시간'] = pd.to_datetime(df['관측시간'])

# 조위, 풍속, 풍향, 기온, 기압 타입변경 string -> double
df = df.astype({ '조위' : 'float64', \
               '풍속': 'float64', \
               '풍향_각도':'float64', \
               '기온': 'double', \
               '기압': 'double'})

### 5. 날짜 기간 설정(22.11.30~22.12.28)
- 인천항만공사에서 추후 제공할 데이터 기간과 동일 => 11.30~12.30 데이터 제공받음.
- 31일 데이터만 삭제

In [49]:
df_weather = df
df_weather = df_weather[df_weather["관측시간"].between('2022-11-30', '2022-12-31')]
df_weather = df_weather.iloc[:-1, :].reset_index(drop=True)

In [50]:
df_weather

,관측소명,관측시간,위도,경도,조위,풍속,풍향,풍향_각도,기온,기압
0,인천송도,2022-11-30 00:01:00,37.338056,126.586111,497.0,10.6,북북서,332.0,0.2,1026.9
1,인천송도,2022-11-30 00:02:00,37.338056,126.586111,496.0,9.4,북북서,335.0,0.3,1026.7
2,인천송도,2022-11-30 00:03:00,37.338056,126.586111,495.0,9.8,북북서,336.0,0.1,1027.0
3,인천송도,2022-11-30 00:04:00,37.338056,126.586111,490.0,8.7,북북서,340.0,-0.1,1027.0
4,인천송도,2022-11-30 00:05:00,37.338056,126.586111,490.0,9.3,북북서,341.0,-0.1,1027.0
...,...,...,...,...,...,...,...,...,...,...
306576,덕적도,2022-12-30 23:55:00,37.226333,126.156556,563.0,0.9,북북서,327.0,-2.3,1031.7
306577,덕적도,2022-12-30 23:56:00,37.226333,126.156556,561.0,1.0,북서,312.0,-2.2,1031.8
306578,덕적도,2022-12-30 23:57:00,37.226333,126.156556,559.0,1.3,서북서,301.0,-2.2,1031.8
306579,덕적도,2022-12-30 23:58:00,37.226333,126.156556,558.0,1.4,북서,304.0,-2.3,1031.8
306580,덕적도,2022-12-30 23:59:00,37.226333,126.156556,556.0,1.6,서북서,303.0,-2.4,1031.8

### 6. 풍향_각도 컬럼 삭제
- 모델 학습 시 '풍향'컬럼을 원핫인코딩

In [51]:
df_weather.drop(['풍향_각도'], axis = 1, inplace = True)

In [52]:
df_weather

,관측소명,관측시간,위도,경도,조위,풍속,풍향,기온,기압
0,인천송도,2022-11-30 00:01:00,37.338056,126.586111,497.0,10.6,북북서,0.2,1026.9
1,인천송도,2022-11-30 00:02:00,37.338056,126.586111,496.0,9.4,북북서,0.3,1026.7
2,인천송도,2022-11-30 00:03:00,37.338056,126.586111,495.0,9.8,북북서,0.1,1027.0
3,인천송도,2022-11-30 00:04:00,37.338056,126.586111,490.0,8.7,북북서,-0.1,1027.0
4,인천송도,2022-11-30 00:05:00,37.338056,126.586111,490.0,9.3,북북서,-0.1,1027.0
...,...,...,...,...,...,...,...,...,...
306576,덕적도,2022-12-30 23:55:00,37.226333,126.156556,563.0,0.9,북북서,-2.3,1031.7
306577,덕적도,2022-12-30 23:56:00,37.226333,126.156556,561.0,1.0,북서,-2.2,1031.8
306578,덕적도,2022-12-30 23:57:00,37.226333,126.156556,559.0,1.3,서북서,-2.2,1031.8
306579,덕적도,2022-12-30 23:58:00,37.226333,126.156556,558.0,1.4,북서,-2.3,1031.8
306580,덕적도,2022-12-30 23:59:00,37.226333,126.156556,556.0,1.6,서북서,-2.4,1031.8

### 7. 컬럼명 원상복구

In [53]:
df_weather.columns = ['관측소명', '관측시간', '위도', '경도', '조위(cm)', '풍속(m/s)', '풍향', '기온(℃)','기압(hPa)']

### 8. df_weather CSV파일 저장

In [54]:
df_weather.to_csv("./weather.csv", sep = ',',encoding = 'cp949')