schedule table

In [3]:
import random

## 선박 MMSI 리스트
shiplist = ["44012345", "44012346", "44012347", "44012348", "44012349", "44012350", "44012351"]

## 도착항 리스트
p = "인천항"

## 출발항 리스트
depart = ["부산항", "목포항", "제주항", "울산항"]

## 출발시각 리스트
departT = []

for i in range(0, len(shiplist)) :
  h = str(random.randint(00, 23))
  m = str(random.randint(00, 59))
  s = str(random.randint(00, 59))
  if len(h) != 2 :
    h = "0"+h
  if len(m) != 2 :
    m = "0"+m
  if len(s) != 2 :
    s = "0"+s
  t = "2023-01-17 "+ h + ":" + m + ":" + s
  departT.append(t)

In [4]:
## SQL insert문
for i in range(0, len(shiplist)) :
  print("insert into schedule values (" + shiplist[i] + ", '" + p + "'" + ", '" + random.choice(depart)+"' ," + "'" + random.choice(departT) + "');")

insert into schedule values (44012345, '인천항', '목포항' ,'2023-01-17 01:08:05');
insert into schedule values (44012346, '인천항', '목포항' ,'2023-01-17 06:54:34');
insert into schedule values (44012347, '인천항', '울산항' ,'2023-01-17 01:07:47');
insert into schedule values (44012348, '인천항', '울산항' ,'2023-01-17 22:46:53');
insert into schedule values (44012349, '인천항', '목포항' ,'2023-01-17 01:08:05');
insert into schedule values (44012350, '인천항', '울산항' ,'2023-01-17 10:52:33');
insert into schedule values (44012351, '인천항', '울산항' ,'2023-01-17 01:08:05');

info table

In [6]:
from datetime import datetime

now = str(datetime.now())

realtime = now[:-7]

## 선박 현재 위도
shiplat = []

## 선박 현재 경도
shiplon = []

## 선박 속도
speed = []

## 소요시간
takeTime = []

## 정확도
accuracy = []

for i in range(0, len(shiplist)) :
  shiplat.append(str(random.uniform(37.442099, 37.459896)))
  shiplon.append(str(random.uniform(126.615739, 126.63643)))
  speed.append(str(random.uniform(0, 18)))
  takeTime.append(str(random.randint(60, 150)))
  accuracy.append(str(random.uniform(0, 100)))


## 도착시각
arrT = []

for i in range(0, len(shiplist)) :
  h = str(random.randint(00, 23))
  m = str(random.randint(00, 59))
  s = str(random.randint(00, 59))
  if len(h) != 2 :
    h = "0"+h
  if len(m) != 2 :
    m = "0"+m
  if len(s) != 2 :
    s = "0"+s
  t = "2023-01-19 "+ h + ":" + m + ":" + s
  arrT.append(t)

In [7]:
## SQL insert문
for i in range(0, len(shiplist)) :
  print("insert into info values (" + shiplist[i] + ", '" + realtime + "'" + "," + 
        shiplat[i]+ ", " + shiplon[i] +", " + speed[i] + ", " +"'" + arrT[i] + "'," + takeTime[i] +", " + accuracy[i] + ");")

insert into info values (44012345, '2023-01-18 09:50:20',37.45273445053675, 126.6191723377454, 14.250570889890469, '2023-01-19 11:05:35',65, 77.42855719895645);
insert into info values (44012346, '2023-01-18 09:50:20',37.4558626984602, 126.61693578679957, 2.350678376013433, '2023-01-19 20:31:31',120, 4.037475675765656);
insert into info values (44012347, '2023-01-18 09:50:20',37.45768867175162, 126.6346684368471, 11.121242949544241, '2023-01-19 21:15:03',150, 32.11889834479745);
insert into info values (44012348, '2023-01-18 09:50:20',37.45368331196004, 126.62524133330695, 6.524355241037123, '2023-01-19 14:47:39',66, 0.0005079185289469379);
insert into info values (44012349, '2023-01-18 09:50:20',37.44659751189192, 126.61799785805545, 11.755468236852456, '2023-01-19 20:01:12',136, 12.37547513264905);
insert into info values (44012350, '2023-01-18 09:50:20',37.44333741381511, 126.63461061322194, 6.02643007979347, '2023-01-19 14:41:19',109, 79.72384782097988);
insert into info values (44012351, '2023-01-18 09:50:20',37.44629514112533, 126.6333420360422, 0.2344242422118088, '2023-01-19 11:40:43',73, 36.847950502717495);